<%= form_tag note_url(@note.id), :method => 'patch' do %>
    <div>
      <label for="title">Title:</label>
      <input size="30" name="title" id="title" value="<%= @note.title %>">
    </div>

    <div>
      <label for="time">Price:</label>
      <input size="30" name="time" id="time" value="<%= @note.time %>">
    </div>

    <div>
      <label for="desc">Description:</label>
      <textarea cols="80" rows="3" name="desc" id="desc"> <%= @note.desc %> </textarea>
    </div>

    <input type="submit" name="commit" value="Update Note">
<% end %>