<h2>Add a New Note</h2>

<%= form_tag notes_url, :method => 'post' do %>
    <div>
      <label for="title">Title:</label>
      <input size="30" name="title" id="title" placeholder="Example: Sears Tower">
    </div>

    <div>
      <label for="time">Time:</label>
      <input size="30" name="time" id="time" placeholder="now">
    </div>

    <div>
      <label for="desc">Description:</label>
      <textarea cols="80" rows="3" name="desc" id="desc"></textarea>
    </div>

    <input type="submit" name="commit" value="Add Note">
<% end %>