<div class="container">
    <h2>My Account</h2>

    <p>
      <%=content_tag(:strong, "Name: #{@user.name}")%>
    </p>

    <p>
      <%=content_tag(:strong, "Email: #{@user.email}")%>
    </p>

    <p>
      <%= link_to "Delete Account", user_url(@user), :method => 'delete', :class =>'btn btn-default'%>
    </p>
    <br><br>
    <h3>My Events</h3>
    <div class="panel panel-default">
        <table class="table table-striped">
          <% @events.each do |event| %>
              <tr>
                <td><%= link_to event.title, event_url(event.id) %></td>
              </tr>
          <% end %>
        </table>
    </div>

</div>