<div class="container">
    <h2>My Account</h2>

    <p>
      <%=content_tag(:strong, "Name: #{@user.name}")%>
    </p>

    <p>
      <%=content_tag(:strong, "Email: #{@user.email}")%>
    </p>

    <p>
      <%= link_to "Delete Account", user_url(@user), :method => 'delete', :class =>'btn btn-default'%>
    </p>

</div>