<div class="container">
  <%if flash[:notice] %>
      <h2>
        <%= flash[:notice]%>
      </h2>
  <%end%>
  <div class="container row text-center">
    <%=image_tag 'worldmap.jpg', height: '800', width: '1140'%>
  </div>
</div>