<div class="container">
  <%if flash[:notice] %>
      <h2>
        <%= flash[:notice]%>
      </h2>
  <%end%>
  <%= image_tag "http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Globe.svg/600px-Globe.svg.png", height: '300', width: '300' %>
</div>