
h1 {
    border-bottom: solid 3px gray;
    margin-bottom: 24px;
}

input[type=submit] { margin-top: 24px; margin-bottom: 24px; }
h1 small a { font-size: 16px;}

h2 {
    color: white;
    background: #708090;
    padding: 6px;
    text-align: left;
}
h2 small { font-size: 12px; color: white;}
h2 small a { font-size: 18px; font-weight: bold; color: #87ceeb;}
h4 small { font-size: 12px;}
h5 small { font-size: 10px;}
.rating {
    color: gray;
    border: solid 1px gray;
    padding: 4px;
}
p {
    margin-top: 24px;
    margin-bottom: 24px;
}
